In [1]:
# Description: This program classifies as having chronic kidney disease (ckd) or not

In [2]:
#import libraries
import glob
from keras.models import Sequential, load_model
import numpy as np
import pandas as pd
from keras.layers import Dense
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
import matplotlib.pyplot as plt
import keras as k

Using TensorFlow backend.

In [3]:
#Load the data 
from google.colab import files 
uploaded=files.upload()

df = pd.read_csv('kidney_disease.csv')

#print the first 5 rows
df

Saving kidney_disease.csv to kidney_disease.csv

      id   age    bp     sg   al   su  ...   dm cad appet   pe  ane  classification
0      0  48.0  80.0  1.020  1.0  0.0  ...  yes  no  good   no   no             ckd
1      1   7.0  50.0  1.020  4.0  0.0  ...   no  no  good   no   no             ckd
2      2  62.0  80.0  1.010  2.0  3.0  ...  yes  no  poor   no  yes             ckd
3      3  48.0  70.0  1.005  4.0  0.0  ...   no  no  poor  yes  yes             ckd
4      4  51.0  80.0  1.010  2.0  0.0  ...   no  no  good   no   no             ckd
..   ...   ...   ...    ...  ...  ...  ...  ...  ..   ...  ...  ...             ...
395  395  55.0  80.0  1.020  0.0  0.0  ...   no  no  good   no   no          notckd
396  396  42.0  70.0  1.025  0.0  0.0  ...   no  no  good   no   no          notckd
397  397  12.0  80.0  1.020  0.0  0.0  ...   no  no  good   no   no          notckd
398  398  17.0  60.0  1.025  0.0  0.0  ...   no  no  good   no   no          notckd
399  399  58.0  80.0  1.025  0.0  0.0  ...   no  no  good   no   no          notckd

[400 rows x 26 columns]

In [4]:
df.describe()

               id         age          bp  ...         sod         pot        hemo
count  400.000000  391.000000  388.000000  ...  313.000000  312.000000  348.000000
mean   199.500000   51.483376   76.469072  ...  137.528754    4.627244   12.526437
std    115.614301   17.169714   13.683637  ...   10.408752    3.193904    2.912587
min      0.000000    2.000000   50.000000  ...    4.500000    2.500000    3.100000
25%     99.750000   42.000000   70.000000  ...  135.000000    3.800000   10.300000
50%    199.500000   55.000000   80.000000  ...  138.000000    4.400000   12.650000
75%    299.250000   64.500000   80.000000  ...  142.000000    4.900000   15.000000
max    399.000000   90.000000  180.000000  ...  163.000000   47.000000   17.800000

[8 rows x 12 columns]

In [6]:
#Get the shape of the data (the number of rows & columns)
df.shape

(400, 26)

In [7]:
#Create a list of columns to retain
columns_to_retain = ["sg", "al", "sc", "hemo",
                         "pcv", "wbcc", "rbcc", "htn", "classification"]

#columns_to_retain = df.columns, Drop the columns that are not in columns_to_retain
df = df.drop([col for col in df.columns if not col in columns_to_retain], axis=1)
    
# Drop the rows with na or missing values
df = df.dropna(axis=0)

In [15]:
df.isnull().any()

sg                False
al                False
sc                False
hemo              False
pcv               False
htn               False
classification    False
dtype: bool

In [8]:
#Transform non-numeric columns into numerical columns
for column in df.columns:
        if df[column].dtype == np.number:
            continue
        df[column] = LabelEncoder().fit_transform(df[column])

In [9]:
df

        sg   al   sc  hemo  pcv  htn  classification
0    1.020  1.0  1.2  15.4   28    1               0
1    1.020  4.0  0.8  11.3   22    0               0
2    1.010  2.0  1.8   9.6   15    0               0
3    1.005  4.0  3.8  11.2   16    1               0
4    1.010  2.0  1.4  11.6   19    0               0
..     ...  ...  ...   ...  ...  ...             ...
395  1.020  0.0  0.5  15.7   31    0               1
396  1.025  0.0  1.2  16.5   38    0               1
397  1.020  0.0  0.6  15.8   33    0               1
398  1.025  0.0  1.0  14.2   35    0               1
399  1.025  0.0  1.1  15.8   37    0               1

[287 rows x 7 columns]

In [10]:
#Split the data
X = df.drop(["classification"], axis=1)
y = df["classification"]

In [11]:
#Feature Scaling
x_scaler = MinMaxScaler()
x_scaler.fit(X)
column_names = X.columns
X[column_names] = x_scaler.transform(X)

In [13]:
#Split the data into 80% training and 20% testing 
X_train,  X_test, y_train, y_test = train_test_split(
        X, y, test_size= 0.2, shuffle=True)